.collapsibleCell__cellCollapsed {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: pre-wrap;
}

.collapsibleCell__cellExpanded {
    display: block;
    white-space: pre-wrap;
}

.collapsibleCell_showMoreButton {
    color: #2563eb;
    cursor: pointer;
    font-size: 14px;
    padding-left: 10px;
}

.collapsibleCell_showMoreButtonText {
    color: #2563eb;
    cursor: pointer;
    font-size: 14px;
    padding-left: 10px;
}

.collapsibleCell__container {
    margin-top: 10px; 
}