.collapsibleCell__cellCollapsed {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: pre-wrap;
}

.collapsibleCell__cellExpanded {
    display: block;
    white-space: pre-wrap;
}

.collapsibleCell__toggleButton {
    background: white;
    color: black;
    cursor: pointer;
    padding: 4px 4px;
    font-size: 0.8rem;
    margin-top: 15px;
}