.billDetails__pageContainer {
    padding: 20px;
    overflow-y: scroll; 
}

.billDetails__header {
    margin-bottom: 20px;
    font-weight:600;
}

.billDetails__detailsContainer {
    border: 1px solid black;
}

.billDetails__title {
    font-weight: 500;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: black;
    color: white;
}

.billDetails__rowPadding {
    padding: 10px 0px;
}

.billDetails__sectionTitle {
    font-weight: 700;
    font-size: 20px;
    padding: 0px;
}

.billDetails__preSection {
    padding-top: 20px;
    font-size: 14px; 
}

