.navigationBar__background {
    background-color: rgb(207, 202, 202); 
}

.navigationBar__container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    margin-right: 15px;
}

.navigationBar__link {
    margin: 10px;
    font-size: 22px !important;
    align-content: center;
}

.navigationBar__linkContainer {
    display: flex;
    align-items: center;
    margin-right: 20px; 
}

.navigationBar__dropdownLink {
    font-size: 1.2rem;
}

.navigationBar__brand {
    font-size: 40px !important;
    margin-left: 25px;
    display: flex; 
    align-items: center;
}

.navigationBar__icon {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 0px;
    margin-right: 5px;
}