.generalTable__container {
    box-sizing: border-box;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.generalTable__subHeader {
    width: 100%; 
    display: flex; 
    flex-direction: column;
    padding: 0px;  
}

.generalTable__tableWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    border: 2px solid var(--color-datatable-outline); 
}

.generalTable__tableWrapper :global(.rdt_Table) {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.generalTable__tableWrapper :global(.rdt_TableBody) {
    flex: 1;
    overflow-y: auto;
}

