/* For Create React App, the root container is usually #root */
:root {
    --gray-background: #f5f5f5;
    --darker-gray: #888888;
    --gradient-blue: rgb(33, 212, 252);
    --gradient-mid-blue: rgb(98, 134, 253);
    --gradient-purple: rgb(162, 56, 254);

    /* --color-datatable-header-bg: #525252; */
    --color-datatable-header-bg: #525252;
    --color-datatable-header-font: white;
    --color-datatable-outline: gray;


    --padding-datatable-header: 16px;
    --font-size-datatable-header: 16px;

    --font-size-default: 14px;

    --padding-default: 16px;
    --padding-sm: 10px;
    --padding-medium: 20px;
    --padding-large: 30px;

    --pading-datatable-cell: 16px;


}:root {
    /* === COLORS === */
    --color-bg: #ffffff;
    --color-text: #111827;
    --color-link: #2563eb;

    --color-sub-header-bg: #525252; 

    --color-filled-header-bg: rgb(32, 32, 32); 
    --color-filled-header-text: white;

    --color-datatable-header-bg: #525252;
    --color-datatable-header-text: #ffffff;
    --color-datatable-outline: gray;

    /* === SPACING === */
    /* Base scale */
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 12px;
    --space-4: 16px;
    --space-5: 20px;
    --space-6: 24px;
    --space-7: 28px;
    --space-8: 32px;


    /* === FONT SIZES === */
    --font-size-default: 14px; 
    --font-size-sm: 14px;
    --font-size-md: 16px;
    --font-size-lg: 20px;
    --font-size-title: 28px; 
    --font-size-page-title: 32px;

    /* === FONT WEIGHTS === */
    --font-weight-bold: 600; 

    /* === BORDER RADIUS === */
    --border-radius-profile-img: 10%;
}


/* TYPOGRAPHY */
.pageTitle {
    font-size: var(--font-size-page-title);
    font-weight: var(--font-weight-bold);
}

.subHeader {
    font-size: 25px;
}

.bold {
    font-weight: 600;
}

.pre-wrap {
    white-space: pre-wrap;
}

/* VISUALS */
.section {
    background: var(--color-bg);
    border-radius: var(--radius-md);
}

.outline {
    border: 1px solid black;
}

.filledHeader {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-title);
    background-color: var(--color-filled-header-bg);
    color: var(--color-filled-header-text);
    padding: var(--space-3);
}

.link {
    color: var(--color-link);
    text-decoration: underline;
    cursor: pointer;
}

.showMore {
    color: var(--color-link);
    cursor: pointer;
}

.subjectBadgeList {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-2);
}

/* SPACING */
.smallGap {
    gap: var(--space-2);
}

.defaultGap {
    gap: var(--space-3);
}

.largeGap {
    gap: var(--space-4);
}

.smallPadding {
    padding: var(--space-2)
}

.defaultPadding {
    padding: var(--space-4);
}

/* BUTTONS */
.defaultButton {
    box-sizing: border-box; 
}



.alignStart {
    align-self: start; 
}

/* VALUE INPUT */
.widthLong {
    width: 400px; 
}

.flexFillSpace {
    flex: 1; 
}

.width100 {
    width: 100%; 
}