/* For Create React App, the root container is usually #root */
:root {
    --gray-background: #f5f5f5;
    --darker-gray: #888888;
    --gradient-blue: rgb(33, 212, 252);
    --gradient-mid-blue: rgb(98, 134, 253);
    --gradient-purple: rgb(162, 56, 254);

    /* --color-datatable-header-bg: #525252; */
    --color-datatable-header-bg: #525252;
    --color-datatable-header-font: white;
    --color-datatable-outline: gray; 


    --padding-datatable-header: 16px; 
    --font-size-datatable-header: 16px; 
    
    --font-size-default: 14px; 

    --padding-default: 16px; 
    --padding-sm: 10px; 
    --padding-medium: 20px; 
    --padding-large: 30px; 

    --pading-datatable-cell: 16px; 


}

:root {
    /* === COLORS === */
    --color-bg: #ffffff;
    --color-text: #111827;

    --color-sub-header-bg: #525252; 

    --color-filled-header-bg: rgb(32, 32, 32); 
    --color-filled-header-text: white;

    --color-datatable-header-bg: #525252;
    --color-datatable-header-text: #ffffff;
    --color-datatable-outline: gray;

    /* === SPACING === */
    /* Base scale */
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 12px;
    --space-4: 16px;
    --space-5: 20px;
    --space-6: 24px;
    --space-7: 28px;
    --space-8: 32px;


    /* === FONT SIZES === */
    --font-size-default: 14px; 
    --font-size-sm: 14px;
    --font-size-md: 16px;
    --font-size-lg: 20px;
    --font-size-title: 25px; 

    /* === FONT WEIGHTS === */
    --font-weight-bold: 600; 

    /* === BORDER RADIUS === */
    --border-radius-profile-img: 10%;
}
