.page {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    min-height: 0;
    padding: var(--space-5);
    gap: var(--space-5)
}

.pageScroll {
    overflow-y: auto;
}

.verticalStack {
    display: flex;
    flex-direction: column;
}

.horizontalRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.relativePosition {
    position: relative; 
}

.justifySpaceBetween {
    display: flex;
    justify-content: space-between; 
    width: 100%;
}

.centerVertically {
    align-items: center;
}

.centerHorizontally {
    justify-content: center;
}

.verticalStack.centerVertically {
    justify-content: center;
}

.verticalStack.centerHorizontally {
    align-items: center;
}