.page {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    min-height: 0;
    padding: var(--space-5);
    gap: var(--space-5)
}

.pageScroll {
    overflow-y: auto;
}

.pageTitle {
    font-size: var(--font-size-page-title); 
    font-weight: var(--font-weight-bold); 
}

.verticalStack {
    display: flex;
    flex-direction: column;
}

.horizontalRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.verticalStackGap {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
}

.horizontalRowGap{
    display: flex;
    flex-direction: row;
    gap: var(--space-3);
    align-items: center;
}

.section {
    background: var(--color-bg);
    /* border: 1px solid black; */
    border-radius: var(--radius-md);
    /* padding: var(--space-4); */
}

.outline {
    border: 1px solid black;
}

.defaultPadding {
    padding: var(--space-4);
}

.filledHeader {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-title);
    background-color: var(--color-filled-header-bg);
    color: var(--color-filled-header-text);
    padding: var(--space-3);
}