.legislators__pageContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    min-height: 0;
    padding: 20px; 
}

.legislators__header {
    margin-bottom: 10px;
    font-weight:600;
}

.legislators__nameCell {
    display: flex;
    align-items: center;
    gap: 12px;
}

.legislators__image {
    width: 50px;
    border-radius: 10px;
}

.legislators__name{
    color: #2563eb;
    text-decoration: underline;
    font-size: 15px; 
    font-weight:600; 
}

