.legislators__pageContainer {
    display: flex;
    flex-direction: column;
    padding: 15px 25px;
    box-sizing: border-box;
}

.legislators__header {
    margin: 10px 0px;
}

.legislators__nameCell {
    display: flex; 
    flex-direction: column;
    gap: 10px;
    align-items: center;
}