.billVoteTable__container {
    display: flex;
    align-items: stretch;
    border: 1px solid black;
    --bs-gutter-x: 0 !important;
    --bs-gutter-y: 0 !important;
}

/* remove bottom border on all but last */
.billVoteTable__container:not(:last-of-type) {
    border-bottom: none;
}

.billVoteTable__rowHeader {
    background-color: rgb(175, 175, 175);
    color: black;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.billVoteTable__rowContent {
    padding: 20px;
}