.billVoteTable__rowContainer {
    display: flex;
    align-items: stretch;
    border: 1px solid black;
    --bs-gutter-x: 0 !important;
    --bs-gutter-y: 0 !important;
}

.billbillVoteTable__voteCell {
    padding: 0px;
}

.billVoteTable__rowContent {
    padding: 20px;
}

.billVoteTable__rowPadding {
    padding: 10px 0px;
}

.billVoteTable__rowHeader {
    background-color: rgb(175, 175, 175);
    color: black;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}