.filterPanel__headerText {
    font-size: 25px;
    margin-left: var(--space-2);
}

.filterPanel__showFiltersButton {
    padding: var(--space-2);
    margin: var(--space-4) 0px;
    box-sizing: border-box;
    width: 200px;
}

.filterPanel__container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    box-sizing: border-box;
    justify-content: normal;
}

.filterPanel__subContainer {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-content: center;
    box-sizing: border-box;
    height: 100%; 
    width: 100%;
}

.filterPanel__filterRow {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: var(--space-3);
    box-sizing: border-box;
}

.filterPanel__columnSelector {
    padding: var(--space-2);
    margin: var(--space-2);
    box-sizing: border-box;
    width: max-content; 
    min-width: 200px
}

.filterPanel__valueDropdown {
    padding: var(--space-2);
    margin: var(--space-2);
    box-sizing: border-box;
    width: 100%;
    background-color: white;
}

.filterPanel__operatorDropdown {
    padding: var(--space-2);
    margin: var(--space-2);
    box-sizing: border-box;
    width: max-content;
}

.filterPanel__valueTextbox {
    padding: var(--space-2);
    margin: var(--space-2);
    box-sizing: border-box;
    width: 100%
}

.filterPanel__deleteFilterButton {
    padding: var(--space-2) var(--space-3);
    margin: var(--space-2);
    box-sizing: border-box;

}

.filterPanel__addFilterButton {
    padding: var(--space-2);
    margin: 0px var(--space-5);
    box-sizing: border-box;
    width: 20%;
    align-self: start;
}

.filterPanel__bottomFilterButton {
    padding: var(--space-2);
    margin: var(--space-4) 0px;
    box-sizing: border-box;
    width: 200px;
}

.filterPanel__bottomButtons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}



