.legislatorDetails__pageContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    min-height: 0;
    padding: 20px; 
    padding-top: 10px; 
    overflow-y: scroll; 
}

.legislatorDetails__rowPadding {
    padding: var(--space-3) 0px;
}

.legislatorDetails__centerImage{
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.legislativeDetails__profileImg {
    border-radius: var(--border-radius-profile-img); 
    height: 170px; 
}

.legislativeDetails__votingHistoryTitle {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-title); 
    padding-top: var(--space-2);
    padding-bottom: var(--space-1);
}