.bills__pageContainer {
    display: flex;
    flex-direction: column;
    padding: 15px 25px; 
    box-sizing: border-box;  
}

.bills__header {
    margin: 10px 0px;
}
.bills__lastActionCell {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* vertical alignment */
    gap: 4px;
    /* 🔥 adds space between items */
}

.bills__govLinksCell {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* vertical alignment */
    gap: 8px;
    /* 🔥 adds space between items */
}