 html,
 body,
 #root {
     height: 100%;
     margin: 0;
 }

 main {
     flex: 1;
     display: flex;
     flex-direction: column;
     overflow: hidden;
 }

 .app {
     display: flex;
     flex-direction: column;
     height: 100vh;
     /* IMPORTANT: not min-height */
 }
